body{
	font-family: 'Roboto', sans-serif !important;
	background-color: #F1F3F6;


}

.header{
	position: fixed;
	top:0;
	left: 0;
	width: 100vw;
	background-color: #0071DD;
	z-index: 100;

}
.header1{
	position: relative;
    margin: 0 auto;
	max-width: 1248px;
    min-width: 978px;
	/*padding:0 15%;*/
	height: 56px;
	color: white;

}
.search-bar{
	display: inline-block;
    vertical-align: middle;
    height: 60%;
    width: 560px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
}
.search-icon i{
	color:  #0071DD;
	padding: 15% 0;
	}
.search-icon{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	border-left: 1px solid rgba(0,0,0,0.1);
	cursor: pointer;
	width: calc(10% - 1px);
	height: 100%;
}
.search-icon:active{
	border-left:1px solid #0071DD

}
.search-bar input{
	width: 80%;
	height: 80%;
	outline: none;
	border:none;
	padding:0 5%;
}
.menu-button{
	display: none;
	padding: 10px;
}
.header1 img{
	position: relative;
	top:calc(50% - 15px);
	margin-right: 10px;
	width: 110px;
}
.header1 .header-group{
	
	float:right;
	height: 30px;
	position: relative;
	top:calc(50% - 15px);

}
.header1 .header-group .btn{
	font-size: 0.8em;
	margin: 0 10px;
	cursor: pointer;
	font-weight: 500;

}

.header1 .header-group .btn:hover,.header-group .btn:active{

	color: rgba(255,255,255,0.6);

}


.header1 .header-group .btn i{
	color: rgba(255,255,255,0.8);
	font-size: 0.6em;

}
.header1 .header-group .btn i.fa-shopping-cart{
	font-size: 1em;
	color: white;

}
/*header2*/


.header2{
    
	background-color: white;
	/*padding:0 18%;*/
	height: 40px;
	color: black;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.23);
    bottom:0;

}
.header2 .header-group .btn i{
	font-size: 0.6em;

}
.header2 .header-group .btn i.fa-shopping-cart{
	font-size: 1em;

}

.header2 .header-group{
	position: relative;
    margin: 0 auto !important;
	max-width: 1248px;
    min-width: 978px;
    height: 20px;
    top: calc(50% - 10px);
	padding:0 20%;
	list-style-type: none;
	
}

.header2 .header-group .btn{
	font-size: 0.8em;
	font-weight: 500;
	margin: 0 15px;
	cursor: pointer;
	float: left;

}

.header2 .header-group .btn:hover,.header-group .btn:active{

	color:  #0071DD;

}

.header2 .header-group .btn i{
	color: rgba(0,0,0,0.8);
	font-size: 0.6em;

}
.main-body{
	display: flex;
	flex-flow: row;
	padding: 0 5%;
	padding-top: 100px;

}
.sidebar {

	width: 20%;
	display:flex;
	flex-flow:column;
	background-color: white;
	height: auto;
	border-radius: 1px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
	margin: 0 5px;

}
.search-results {
	width: 80%;
	
	background-color: white;
	height: auto;
	border-radius: 1px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
	margin: 0 5px;
	padding-bottom: 20px;
	

}
.search-sequence{
	font-size: 0.7em;
	color: rgba(0,0,0,0.5);
	padding:1.5%;
}
.search-number{
	font-size: 1em;
	font-weight: 700;
	padding-bottom:1.5%;
	padding-left: 1.5%;


}
.sort{
	padding-left: 1.5%;
	/*padding-bottom: 1%;*/
	font-size: 0.9em;
	font-weight: 500;
	width: 98.5%;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.sort span{
	font-weight: 400;
	display: inline-block;
	margin-right: 20px;
	cursor: pointer;
}
.tab-border{
	border-bottom: 2px solid #0071DD;
	color: #0071DD;
	padding-bottom: 1%;
	font-weight: 500
}
.results-flex1,.results-flex2{
	display: flex;
	flex-flow: row;
	align-items: stretch;
}
.result{
	height: 400px;
	width: 25%;
	overflow: hidden;
	padding: 20px;
	cursor: pointer;
}
.result:hover{
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, .11);

}
.result > *{
	margin-bottom: 10px;
}
.result .info{
	font-weight: 4	00;
	font-size: 0.8em;
}
.result .rating{
	color: rgba(0,0,0,0.5);
	font-size: 0.7em
}
.rating span{
	display: inline-block;
	color: white;
	background-color: green;
	padding:5px;
	border-radius: 3px;

}
.rating img{	
	display: inline-block;
    vertical-align: middle;
}
.result .result-img{
	height: 300px;
	width: 80%;
	position: relative;
    margin: 0 auto;
    margin-bottom: 10px;
}
.result .result-img img{
	object-fit: cover;
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top:0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
.offers{
	font-size: 0.7em;
}


/*sidebar*/

.side-head{
	font-size: 1em;
	font-weight: 500;
	padding: 20px 15px 20px;
	border-bottom: 1px solid rgba(0,0,0,0.1)
}

.categories{
	font-size: 0.7em;
	font-weight: 500;
	padding: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.1)



}

.categories .side-head{
	color: black;
}
.categories .cats{
	color: rgba(0,0,0,0.4);
}
.categories div{
	padding-bottom: 10px;
}
.price-range{
	font-size: 0.7em;
	font-weight: 500;
	padding: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.price-range img{
	display: inline-block;
	padding: 10px 0;
	width: 90%;
}
.price-range .select{
	width: 100%;

}
.price-range select{
	width: 40%;
}

.assured{
	font-size: 0.7em;
	
	padding: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.1)



}
.checked{
	display: none;
	color: #0071DD;
	cursor: pointer;
}
.unchecked{
	cursor: pointer;

	color: rgba(0,0,0,0.4);
}
.assured img{
	    display: inline-block;
    vertical-align: middle;
}
.compatible-mobiles{
	font-size: 0.7em;
	
	padding: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.1)


}
.compatible-mobiles .fa-chevron-up{
	color: rgba(0,0,0,0.5);
	float: right;
}
.compatible-mobiles .search-comp{
	color: rgba(0,0,0,0.3);
	padding-bottom: 5px;
	border-bottom: 2px solid rgba(0,0,0,0.3);
	margin-bottom: 10px;
}
.compatible-mobiles input{
	border:none;
	width: 80%;
	outline: none;
}
.compatible-mobiles div{
	padding-bottom: 10px;
	
}
.brands ,.availability,.discounts{
	font-size: 0.7em;
	
	padding: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.1)
}


.brands .fa-chevron-down,.availability .fa-chevron-down,.discounts .fa-chevron-down{
	color: rgba(0,0,0,0.5);
	float: right;
}
.sort-group{
	margin-left: 20px;
	display: inline-block;
}
.filters{
	position: relative;
	top:70px;
	
	display: none;
	font-weight: 500;
	background-color: white;
	width: 100px;
	text-align: center;
	margin: auto;
	padding: 10px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.12)
}
.hidden-search{
	display: none;
}


@media (max-width: 769px) {
	.header2{
		display: none;

		height: auto;
	}
	.header2 .header-group{
		height: auto;
		padding:10px;
	}
	.header2 .header-group .btn{
	margin: 10px;

	float: none;
	}
	.menu-button{
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
	}
	.sidebar{
		display: none;
	}
	
	.search-results{
		width: 100%;
	}
	.results-flex1,.results-flex2{
	flex-flow: column;
	}
	.result{
		width: auto;
	}
	
	.sort span{
		margin-right: 5px;
	}
	.sort-group{
		display: block !important;
		margin: 0;
		font-size: 0.6em;
		margin-top:10px;


	}
	.sort{
		border-top: 1px solid rgba(0,0,0,0.2);
		padding-top:5px;
		text-align: center;
	}
	.filters{
		display: block;
	}
	.sidebar{
		width: 100%;
		margin-bottom: 20px;
	}
	.main-body{
	flex-flow: column;

	}
	.search-sequence,.search-number{
		    padding: 10px 15px 0;

	}
	.search-number{
		padding-bottom: 10px;
	}
	.search-bar {
		display: none;
	}

	.hidden-search{
		display: inline-block;
		color: white;
	}
	.header1{
		min-width: 100%;
		max-width: 100%;
	}
	.header1 .header-group {
		top: calc(50% - 9px);
	}
}
@media (max-width: 1024px) {
	.main-body{
		padding:0 2%;
		padding-top: 100px;
	}
	
	.header2 .header-group {
		min-width: 708px;
	    padding: 0 2%;
	}
	.header1 img {
		padding:0 5px;
	}

}
@media (max-width: 320px) {
	.header-group{
		font-size: 0.7em;
	}
	.header1 img{
	
		width: 70px;
	}
	.menu-button{
		position: relative;
		top:calc(50% - 20px);
	}
	.header1 .header-group .btn {
    margin: 0 5px;
}